@font-face {
  font-family: 'font_1-light';
  src: url('fonts/font_1-light.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_1-regular';
  src: url('fonts/font_1-regular.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_1-thin';
  src: url('fonts/font_1-regular.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_1-bold';
  src: url('fonts/font_1-bold.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_2-light';
  src: url('fonts/font_2-light.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_2-regular';
  src: url('fonts/font_2-regular.woff'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'font_2-thin';
  src: url('fonts/font_2-regular.woff'); /* IE9 Compat Modes */
}

.burgermenu_wrapper{
  /* width: 26px; */
  height: 26px;
  float: right;
  padding-right: 15px;
  display: flex;
}

.logo_wrapper{
  padding-left: 30px;
}

nav {
  background-color: transparent;
  height: 55px;
  transition:0.3s;
  box-shadow:none;
}

.nav_scroll{
  background-color: var(--light-gold);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}


.bml_color{
  background-color: var(--light-gold);
}

.bml_color:before{
  background-color: var(--light-gold);
}

.bml_color:after{
  background-color: var(--light-gold);
}

.sidemenu{
  background-color: var(--angel-white);
  float: right;
  right: 0px;
}

.navigation__item a{
  font-size: 24px;
  font-family: font_1-regular;
  color: var(--gold);
  transition: 0.3s;
  display: inline-block;
}

.navigation__item a:after{
  content: '';
  display:block;
  width: 2px;
  height: 2px;
background-color: transparent;
  transition: 0.5s;
  float:left;
}

.navigation__item:hover a:after{
width: 100%;
background-color: var(--gold);
}

h1{
  color: var(--light-grey-2);
  /* font-size: 42px; */
    font-size: 32px;
      line-height: 1.2em;
      /* line-height: 1.4em; */
      letter-spacing: 0.106em;
      margin-block-start: 0em;
      margin-block-end: 0em;
      width: auto;
      font-family: 'font_2-light';
}

.home_content{
  top:100%;
  position: absolute;
  width:100%;
  background-color: var(--angel-white);
}

.text_title{
  color: var(--dark-grey_cohecean);
    font-family: font_1-bold;
    font-size: 36px;
    margin-block-start: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.facebook_icon{
  fill: var(--light-grey-2);
}

.instagram_icon{
  fill: var(--light-grey-2);
}

.youtube_icon{
  fill: var(--light-grey-2);
}

.down_arrow_simple{
  fill: var(--gold);
}

.splashText1{
  color: var(--dark-grey_cohecean) !IMPORTANT;
}


@media (min-width: 375px) {

h1{
font-size: 36px;
line-height: 1.4em;
}

  }


/* Small devices (landscape phones, 576px <) */
@media (min-width: 576px) {
  nav
  {
    height: 100px;

  }

  h1{
      font-size: 36px;
      line-height: 1.3em;
  }

  .burgermenu_wrapper{

    padding-right: 30px;

  }


}



/* Medium devices (tablets, 768px <) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px <)*/
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px <) */
@media (min-width: 1200px) {

  h1{
    color: var(--light-grey-2);
    font-size: 36px;
        line-height: 1.3em;

  }

  .block_h1_cohecean{
    width: 100% !IMPORTANT;
  }




}

/* XX-Large devices (larger desktops, 1400px <) */
@media (min-width: 1400px) {
  nav
  {
    height: 140px;

  }
}
