
.Header{
  top:0px;
  width:100%;
  margin:0px;
  padding: 0px;

margin-top: 0px;
height: 100%;
position: fixed;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

background-color: var(--light-grey);
}


.header_content{
  width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    padding: 0px 10px;
    max-width: 1328px;
    flex-direction: column;
}



.block{
  /* width: 100%; */
  display: flow-root;
}

.block_content{
  /*padding-left: 40px; padding-right: 40px;
  /*width: calc(100% - 80px); */
  width:100%;
  padding: 50px 0px;
  display: flow-root;
  justify-content: center;
  align-items:center;

}

.block_content_left{
      width: 100%;
      padding: 50px 0px;
      display: flex;
      justify-content: center;
      align-items: center;


}

.block_content_right{
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

}

.tagObj{
  width:0px;
  height: 0px;
}

.downarrow_wrapper{
position: absolute;
bottom: 0px;
height: 100px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

/*---block colors ---*/
.blockColor{

  &-grey{
  background-color: var(--light-grey);
}

}




.followUs_wrapper{

    display: none;
    position: absolute;
}

.followUs_line{

background-color: var(--light-grey-2);

}

.followUs_text{
  font-family: font_1-regular;
  font-size: 22px;
  color: var(--light-grey-2);
}

.followUs_iconholder{

  transition: 0.3s;
}

.followUs_iconholder:hover svg{
  cursor: pointer;
  fill: var(--light-gold);
}


.followUs_socialMedia_wrapper{

}

.logo_wrapper_mobile {
  padding-bottom: 20px;
}



/* Small devices */
@media (min-width: 375px) {



  }

/* Medium devices (tablets, 768px <) */
@media (min-width: 768px) {
  .header_image{
    width: 100%;
    height: 760px;
    margin-top: 200px;
    margin-bottom: 160px;
  }



  .downarrow_wrapper{
    height: 140px;
  }


.header_content{


    padding: 0px 142px;
    flex-direction: unset;

}





}

/* Large devices (desktops, 992px <)*/
@media (min-width: 992px) {

  .followUs_wrapper{
    min-height: 280px;
      display: flex;
      align-items: center;
      position: absolute;
  }

  .h1_wrapper{
    height: 380px;
    width: 840px;
    text-align: left;
    margin-top: 280px;
  }

  .followUs_line{
    width: 80px;
  margin-right: 20px;
  height: 2px;
  }

  .followUs_text{


  }

  .followUs_iconholder{
    width: 42px;
    height: 42px;
  }

  .followUs_iconholder:hover svg{
    cursor: pointer;
    fill: var(--light-gold);
  }


  .followUs_socialMedia_wrapper{
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

}

/* X-Large devices (large desktops, 1200px <) */
@media (min-width: 1200px) {
  h1{
    position: absolute;
  }
  .h1_wrapper{
    float:left;
  }

  .block_content_left{
        width: 50%;
        padding-left: unset;
          padding-right: unset;


  }

  .block_content_right{
    width: 50%;
    padding-left: unset;
      padding-right: unset;

  }

  .block_content_left{
      float: left;


  }




}
