
.Header{
  top:0px;
  width:100%;
  margin:0px;
  padding: 0px;

margin-top: 0px;
height: 100%;
position: absolute;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

background-color: var(--light-grey);
}


.header_content{
  width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    padding: 0px 42px;
    max-width: 1328px;
}



.block{
  width: 100%;
  display: flow-root;
}

.block_content{
  /*padding-left: 40px; padding-right: 40px;
  /*width: calc(100% - 80px); */
  width:100%;
  padding: 50px 0px;
  display: flow-root;
  justify-content: center;
  align-items:center;

}

.block_content_left{
      width: 100%;
      padding: 50px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;


}

.block_content_right{
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

}




/*---block colors ---*/
.blockColor{

  &-grey{
  background-color: var(--light-grey);
}

}



/* Medium devices (tablets, 768px <) */
@media (min-width: 768px) {
  .header_image{
    width: 100%;
    height: 760px;
    margin-top: 160px;
    margin-bottom: 160px;
  }
  h1{
    position: absolute;
  }

  .downarrow_wrapper{
    position: absolute;
bottom: 0px;
height: 140px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
  }

.h1_wrapper{
  height: 380px;
  width: 840px;
  text-align: left;
  margin-top: 280px;
}

.followUs_wrapper{
  min-height: 280px;
    display: flex;
    align-items: center;
    position: absolute;
}

.followUs_line{
  width: 80px;
margin-right: 20px;
background-color: var(--light-grey-2);
height: 2px;
}

.followUs_text{
  font-family: font_1-regular;
  font-size: 22px;
  color: var(--light-grey-2);
}

.followUs_iconholder{
  width: 42px;
  height: 42px;
}



.followUs_socialMedia_wrapper{
  padding-left: 20px;
  display: flex;
  align-items: center;
}
}

/* Large devices (desktops, 992px <)*/
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px <) */
@media (min-width: 1200px) {

  .block_content_left{
        width: 50%;
        padding-left: unset;
          padding-right: unset;


  }

  .block_content_right{
    width: 50%;
    padding-left: unset;
      padding-right: unset;

  }

}
