/* style cohecean v 1.2.0 */
/* designed and created by Empty Soul */

html
{
overflow-x: hidden;
scrollbar-width: none ;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none; 
    scrollbar-width: none;
}

.element::-webkit-scrollbar {
    -webkit-appearance: none;
}


@font-face
{
font-family: font-thin;
src:url('fonts/font-thin.ttf') format("truetype");
}

@font-face
{
font-family: font-light;
src:url('fonts/font-light.ttf') format("truetype");
}


@font-face
{
font-family: font-regular;
src:url('fonts/font-regular.ttf') format("truetype");
}

@font-face
{
font-family: font-bold;
src:url('fonts/font-bold.ttf') format("truetype");
}




@font-face
{
font-family: Jfont2-thin;
src:url('fonts/font2-thin.ttf') format("truetype");
}

@font-face
{
font-family: font2-light;
src:url('fonts/font2-light.ttf') format("truetype");
}


@font-face
{
font-family: font2-regular;
src:url('fonts/font2-regular.ttf') format("truetype");
}

@font-face
{
font-family: font2-bold;
src:url('fonts/font2-bold.ttf') format("truetype");
}




::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}



.loadingscreen
{
width: 100%;
height: 100%;
background-color: #fefefe;
position: fixed;
z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}



.lboxholder
{
position: absolute;
animation-name: loading;
  animation-duration: 6s;
  animation-iteration-count: infinite;
margin-left: -4px;

}

@keyframes loading
{
0%{opacity: 1;}
50%{opacity: 0.2;}
100%{opacity: 1;}
}


.loadingtext
{
color: #a5a5a5;
font-family: font-regular;
font-size: 16px;
margin-top: 140px;
}


.loadinglogo
{
/* background: url('images/logo/logo_small.png')no-repeat;
background-size: cover; */
width: 140px;
height: 95px;


}




a
{
color: unset;
text-decoration: none;
outline: none;
}



















body
{
margin: 0px;
padding: 0px;
background-color: #2c363f;

}

a
{
outline: none;
text-decoration: none;

}


#impressumtext a
{
text-decoration: underline !IMPORTANT;


}


.menuleiste
{
top: 0px;
margin: 0px;
width: 100%;
height: 80px;
position: fixed;
/* background-color: #fefefe; */
/* box-shadow: 4px 4px 9px #d7c8a755; */
opacity: 1;
z-index: 100;
transition: 0.3s;
z-index: 100;
}


.menuleistetransparent
{
background-color: transparent !IMPORTANT;
box-shadow: none !IMPORTANT;
}

.st0
{
fill: none !IMPORTANT;
}

.st1
{
stroke: #ebf4f2 ;
transition: 0.3s;
}

.svg_logo
{
width: 85px;
height: 55px;
background-size: cover;
align-self: center;
float: left;
margin-top: 12px;

}

.menuleiste_content
{
padding: 0px 50px;
max-width: 1500px;
height: 100%;
overflow: hidden;

}

.svg_logofont
{
width: 160px;
height: auto;
background-size: cover;
margin: 28px 16px;
float: left;
fill: #ebf4f2;
opacity: 0;
transition: 0.3s;
}

.cls-2, .cls-3
{
stroke: #ebf4f2 !Important;
}


.menu_title
{
color: #ebf4f2;
font-size: 16px;
font-family: font-thin;
float:right;
margin-right: 35px;
margin-top: 35px;
transition: 0.3s;
opacity: 1;
display: block;
visibility: visible;
}
.burgermenu_field
{
width: 25px;
height: 25px;
float: right;

margin-top: 30px;
    padding: 0px;
    background-color: transparent;
    border: 0px solid;
outline: none;
transition: 0.3s;
}

.burgermenu_lineholder
{
transition: 0.35s ease-in-out;

}


#bml_1
{
margin-top: 8px;
}

#bml_2
{
margin-top: 8px;
}


.header
{
background: url(images/header.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    margin: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;



}


.header_overlay
{
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    opacity: 0.1;


}

.header_area
{
    margin: 0px;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

z-index: 40;
}


.logo_main
{

	    background: url(images/logo_small.png)no-repeat;
    width: 400px;
    height: 280px;
    position: absolute;
    /* z-index: 1000; */
    background-size: cover;
    margin-top: 0px;
	animation-name: logomain;
	animation-duration: 1.3s;
	opacity: 1;
	user-select: none;

}


.logo_side
{

background: url(images/logo/logo_wh.png)no-repeat;
    width: 85px;
    height: 60px;
    position: absolute;
    /* z-index: 1000; */
    background-size: cover;
    margin-top: 0px;
	transition: 0.3s;
	opacity: 1;
	user-select: none;

}

.logo_side_scroll .cl6,.logo_side_scroll .cl9,.logo_side_scroll .cl0,.logo_side_scroll .cl3,.logo_side_scroll .cl4,.logo_side_scroll .cl5,.logo_side_scroll .cl7,.logo_side_scroll .cl8
{
fill: #fefefe;
transition: 0.3s;

}

.logo_side_scroll .cl1
{

stroke: #fefefe;
transition: 0.3s;


}

.cl0, .cl1, .cl2, .cl3, .cl4, .cl5, .cl6, .cl7, .cl8, .cl9,
{

transition: 1s;
transition-delay: 0.5s;

}




.ueberschrift {
 font-size: 42px;
    padding: 20px 0px;
    /* position: absolute; */
    top: 0px;
    width: 100%;
    color: #fefefe;
    /* border-bottom: 2px solid #bbb; */
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-self: center;
    font-family: font2-bold;
    align-self: center;
    justify-content: center;
	animation-name: uebsanim;
	animation-duration: 1.3s;
	opacity: 1;
	animation-delay: 0.5s;
	user-select: none;
}

.kreis
{
	    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* border: 5px solid #fefefe; */
    position: absolute;
    /* margin: 370px 0px; */
	transition: 0.3s;
	animation-name: kreisanim;
	animation-duration: 2.3s;
	opacity: 1;
	
	visibility: hidden;
	user-select: none;

}


.kreisbutton:hover .kreis{

	margin-top: 14px;
}




@keyframes kreisanim{

	0%{opacity:0; margin-top:270px;};
	100%{ margin-top: 370px;opacity: 1;}


}


@keyframes logomain{

	0%{opacity:0; margin-top:0px;};
	100%{ margin-top: -120px;opacity: 1;}


}



@keyframes uebsanim{

	0%{opacity:0; margin-top:120px;};
	100%{ margin-top: 0px;opacity: 1;}


}




@keyframes subsanim{

	0%{opacity:0; margin-top:220px;};
	100%{ margin-top: 0px;opacity: 1;}


}





.mainpage
{
 height: auto;
    z-index: 63;
    width: 100%;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    margin: 0px;
    align-items: center;
    background-color: #fff;

}


.tagger
{

margin-top: -80px;
position:absolute;
}



.abschnitt_1
{
width: 100%;
    display: flow-root;
    background-color: #fefefe;
height: 700px;
background-color: #ffffff;
overflow: hidden;

}

.feldoutofview_left
{
opacity: 0;
transform: matrix(1, 0, 0, 1, -300, 0);
}

.feldoutofview_right
{
opacity: 0;
transform: matrix(1, 0, 0, 1, 300, 0);
}

.outofview_bottom
{
transition: 0.3s;
opacity: 0;
transform: matrix(1, 0, 0, 1, 0, 103);

}

#feldlinks1
{
display: flex;
    align-content: center;
    justify-content: center;


}

.abs_feld_links
{

width: 50%;
height: 100%;
float: left;
left: 0px;
transition: 0.8s;

}

.abs_feld_rechts
{

width: 50%;
height: 100%;
float: right;
right: 0px;
transition: 0.8s;
}

.absfeldcolored
{
background-color: #f0f0f0;
}


.abs_links_content
{

height: 100%;
max-width: 700px;
float: right;
margin: 0px 50px;
display: flex;
justify-content: center;
align-items: center;

}


.abs_rechts_content
{

height: 100%;
max-width: 700px;
float: left;
margin: 0px 50px;
display: flex;
justify-content: center;
align-items: center;

}

.content_1600
{
width: 100%;
max-width: 1600px;
}


.abs_vismis
{
text-align: left;
margin-top: 150px;
max-width:650px;

}

#vismis_02
{
padding-left: 50px;

}

#vismis_03
{
padding-right: 50px;

}

.goldenframe
{

width: 380px;
height: 500px;
border: 4px solid #cdba9f;
transition: 0.3s;
}

.bild_gitu_trigger:hover .gitu_bild
{
transform: scale(1.05);
margin-left: 10px;
}


.bild_gitu_trigger:hover .goldenframe
{
transform: scale(0.95);
margin-left: -20px;
}

.gitu_bild
{

width: 500px;
    height: 670px;
    margin-top: -80px;
    margin-left: -40px;
transition: 0.3s;

}


.ueberschrift_main
{
color: #a5a5a5;
font-family: font2-bold;
font-size: 36px;
margin-block-start: 0px;
margin-bottom: 30px;

}

.ueberschrift_main_hell
{
color: #fefefe;
font-family: font2-bold;
font-size: 36px;
margin-block-start: 0px;
margin-bottom: 0px;
}


.text_content_links
{
width: 100%;
padding-right: 50px;
text-align: left;
overflow: hidden;
display: grid;
}


.text_content_rechts
{
width: 100%;
padding-left: 50px;
text-align: left;
overflow: hidden;
display: grid;
}
.text
{
font-family: font-light;
color: #432919;
font-size: 24px;
line-height: 1.2;
 margin-block-start: 0px; 
margin-block-end: 0px; 
max-width: 650px;
}

.textbold
{
font-family: font-bold;
opacity:0.5;
}

.textmitte
{
padding-top: 100px;
max-width: unset;    
}

.textweiss
{

color: #fefefe;
}


.textgold
{
font-family: font2-bold;
font-size: 24px;
color: #cdba9f;
}


.default_button
{
width: 180px;
height: 50px;
outline: none;
border: 2px solid #cdba9f;
font-family: font2-regular;
color: #cdba9f;
background-color: transparent;
font-size: 16px;
transition: 0.3s;


}

.default_button:hover
{

background-color: #cdba9f;
color: #fefefe;
}


.ueberuns_box
{
width: 630px;
transition: 0.5s;
padding-right: 20px;
scroll-snap-align: start;

}

.uebbox_container
{
width: 100%;
    display: -webkit-inline-box;
    overflow-x: scroll;
scroll-behavior: smooth;
scrollbar-width: none;
scroll-snap-type: x mandatory;
}



#uebb_01
{

}



#uebb_02
{
/* display: none; */
}

.read_backbutton
{
width: 40px;
    height: 40px;
    transform: rotate(90deg);
    fill: #cdba9f;
transition: 0.3s;
}

.read_forbutton
{
width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    fill: #cdba9f;
transition: 0.3s;
float: right;
}


.read_backbutton:hover
{

transform: rotate(90deg) scale(1.1);
}

.read_backbutton:active
{

transform: rotate(90deg) scale(0.9);
}

.read_forbutton:hover
{

transform: rotate(-90deg) scale(1.1);
}

.read_forbutton:active
{

transform: rotate(-90deg) scale(0.9);
}

.readlast:hover
{

transform: rotate(90deg) scale(1.1);
}

.readlast:active
{

transform: rotate(90deg) scale(0.9);
}


.readlast
{
display:none;

}



.arrows_container
{
visibility: hidden;
opacity: 0;
transition: 0.3s;


}


.uebdunkel
{

color: #555;
font-size: 36px;
margin-bottom:50px;
padding-top:100px;

}



.kreisbutton
{

    color: #fff;

    font-size: 50px;
    margin-top: -2px;
    font-weight: bold;
bottom: 0px;
    position: absolute;
    margin: 50px 0px;
    transition: 0.3s;
    align-self: center;
    width: 25px;
    height: 25px;
	z-index: 100;

}


/*
.ueberschrift:after
{
	content: '';
	content: '';
    height: 5px;
    background-color: #fefefe;
    position: absolute;
    width: 80px;
    margin-top: 60px;
}

*/
.subschrift
{
position: absolute;
    color: #fefefe;
    font-size: 24px;
    font-family: font2-light;
    margin-top: 300px;
    animation-name: subsanim;
    animation-duration: 1.3s;
    opacity: 1;
    user-select: none;
    animation-delay: 1s;
    letter-spacing: 3.2px;
}

#downarrow
{
fill: #fefefe;
}
.arrow
{
cursor: pointer;
}


#downarrow_line
{


    width: 25px;
    height: 25px;
fill: #fefefe;
}

.dwa_2_box
{
width: 25px;
    height: 0px;
    position: absolute;
    overflow: hidden;
    display: flex;
    bottom: -10px;
transition: 0.3s;
}


.kreisbutton:hover .dwa_2_box
{
height: 25px;
bottom: -19px;
}
.menuboxright
{
width: 50%;
    height: 620px;
    float: right;
    margin-top: 220px;
    text-align: left;
    border-left: 2px solid #ac824f;
padding-top: 60px;

}


.menuboxleft
{
width: 50%;
    height: 620px;
    float: left;
    margin-top: 220px;
    text-align: left;
    padding-top: 60px;
    align-items: center;
display: flex;

}

.buttonholder_horizontal
{
width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
margin-top:-60px;

}

.iconrow_mobile
{
height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menupunkte_small
{
font-family: font2-regular;
    text-align: center;
    margin: 0px 20px;
transition: 0.3s;
margin-top: 2px;
border-bottom: 2px solid #00000000;
color: #ac824f;
}

.menupunkte_small:hover
{

border-bottom: 2px solid #ac824f;
}

.socialmedia_iconholder
{
width: 60px;
    height: 60px;
    margin: 20px;
transition: 0.3s;
cursor: pointer;
fill: #ac824f;
}


.socialmedia_iconholder:hover
{
transform: matrix(1, 0, 0, 1, 0, -5);
/* margin-top: 0px; */

}



.menubg
{
width: 100%;
height: 100%;
background-color: #fefefe;
position: fixed;
z-index: 99;
justify-content: center;
opacity: 0;
display: none;
top: 0px;
}


.menubuttoncontent
{
width: 100%;
height: 100%;
display: flex;
}

.menupunkte
{
    font-family: font2-regular;
    color: #ac824f;
    font-size: 50px;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: 0.3s;
    width: unset;
    margin-left: 160px;
height: 40px;
}

.menupunkte:hover
{

border-bottom: 2px solid #ac824f;


}



.ring:after
{
content: "";
width: 100px;
height: 100px;
background-color: #fff;
position: absolute;
z-index: -1;
border-radius: 100%;
margin-top: -46px;
margin-left: -75px;
opacity: 0;

}

.ring:active:after
{
animation-name: mlink;
animation-duration: 0.3s;
animation-direction: alternate;
animation-play-state: running;
}

@keyframes mlink
{

0% { width: 100px; height: 100px; opacity: 0; }

50% { opacity: 0.3; }

100% { width: 300px; height: 300px; margin-top: -150px;
    margin-left: -175px; opacity: 0; }

}


.ring
{

border-radius: 100%;

}
.bmenu_effect
{
content: "";
width: 200px;
    height: 200px;
    background-color: #fefefe;
margin-right: -50px;
    opacity: 0.2;
    margin-top: -62px;
    border-radius: 100%;

float: right;
z-index: 90;
right: 0px;
transform: scale(0);
}

.bmenueffectholderout
{
width: 100%;
position: fixed;
z-index:99;
}
.bmenueffectholder
{

    overflow: visible;
    height: 100px;
    z-index: 90;
    /* float: right; */
    max-width: 1600px;
    width: 100%;
}


}

.burgermenu_field:hover 
{

cursor: pointer;

}

.burgermenu_field:hover .burgermenu_line
{

background-color: #ac824f;

}

.burgermenu_field:hover #bml_0:after
{

background-color: #ac824f;

}

.burgermenu_field:hover #bml_0:before
{

background-color: #ac824f;

}

#bml_0
{

}


.burgermenu_line
{
width: 100%;
height: 2px;
display: block;
pointer-events:none;
transition: 0.3s ease-in-out;
outline: none;
}



.burgermenu_line:after
{
transition:0.3s ease-in-out;
content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    position: absolute;
    margin-top: 10px;
margin-left: -13px;


}

.burgermenu_line:before
{
transition:0.3s ease-in-out;
content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    position: absolute;
    margin-top: -10px;
  margin-left: -13px;

}

/* --------------------------- MENU LINE COLOR ------------------------ */
.bml_color
{
background-color: #fefefe;
}

.bml_color:before
{
background-color: #fefefe;
}

.bml_color:after
{
background-color: #fefefe;
}



.bml_color_scroll
{
background-color: #cdba9f;
}

.bml_color_scroll:before
{
background-color: #cdba9f;
}

.bml_color_scroll:after
{
background-color: #cdba9f;
}


.bml_color_open
{
background-color: #cdba9f;
}

.bml_color_open:before
{
background-color: #cdba9f;
}

.bml_color_open:after
{
background-color: #cdba9f;
}






/* ------------------------- ANIMATIONS MENU ----------------------- */


.bmactive .burgermenu_line:before
{


animation-name: bmenulineanim;
animation-duration: 0.5s;
animation-fill-mode: forwards;


}


.bmactive .burgermenu_line:after
{


animation-name: bmenulineanim_3;
animation-duration: 1s;
animation-fill-mode: forwards;


}




.bmactive .burgermenu_line
{


animation-name: bmenulineanim_2;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.3s;

}




@keyframes bmenulineanim
{
0%{margin-top: ;}
50%{ margin-top: 0px;}

100%{ margin-top: 0px;}



}

@keyframes bmenulineanim_2
{
0%{transform:;}



100%{ transform:rotate(225deg);}



}

@keyframes bmenulineanim_3
{
0%{margin-top: ;transform:;}

25%{ margin-top:0px;transform:;animation-delay: 0.3s;}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:0px; transform:rotate(90deg);}



}






/* ------------------------- ANIMATION END ---------------------- */


/* ------------------------- ANIMATIONS REVERSE MENU ----------------------- */

.bmactive_re .burgermenu_line:before
{


animation-name: bmenulineanim_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;


}


.bmactive_re .burgermenu_line:after
{


animation-name: bmenulineanim_3_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;


}

.bmactive_re .burgermenu_line
{


animation-name: bmenulineanim_2_re;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.4s;
transform:rotate(225deg);
}




@keyframes bmenulineanim_3_re
{
0%{margin-top:0px; transform:rotate(90deg);}

25%{margin-top:0px;transform:rotate(0deg);}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:; transform:;}



}



@keyframes bmenulineanim_2_re
{
0%{transform:rotate(225deg);}


90%{transform:rotate(0deg);}

100%{ transform:rotate(0deg);}



}



@keyframes bmenulineanim_re
{
0%{margin-top: 0px;}
50%{ margin-top: 0px; transform:rotate(0deg);}

100%{ margin-top: ;transform:rotate(0deg);}



}

/* ------------------------- ANIMATION REVERSE END ---------------------- */




.abschnitt_2
{
width: 100%;
   
padding: 100px 0px;
 background: url('images/hintergrund_01.jpg')no-repeat;
background-size: cover;
background-attachment: fixed;
display: inline-block;
overflow: hidden;
padding-bottom: 200px;
background-position: center;
}


.vismis01cl
{
opacity: 0;
transform: matrix(1, 0, 0, 1, 0, 100);



}

#vismis_01
{

transition: 0.5s;
}


#socialabs
{
transition: 0.5s;

}



#readlessmobile
{
display: none;
}


.abschnitt_3
{
background-color: #f0f0f0;
padding-bottom: 100px;
margin-top: -4px;
overflow: hidden;
}

.abs3_pad
{
transform: matrix(1, 0, 0, 1, 0, 103);
opacity: 0;


}

#abs3
{
transition: 0.5s;

}


.abschnitt_4
{
background-color: #fefefe;
padding-bottom: 50px;
margin-top: -4px;
overflow: hidden;
padding-top: 100px;
height: unset;
display: flex;
align-items:center;
}



.abs4fixed
{
position: fixed;
width: 100%;
top: 0px;
z-index: -1;

}


.abschnitt_5
{
background-color: #fefefe;
padding-bottom: 50px;
margin-top: -4px;
overflow: hidden;
height: unset;
display: flex;
align-items:center;
padding-top: 50px;

}

.displaynone
{
display: none !IMPORTANT;
}

.displaynone_desktop
{
display: none;
}


/* .abs5overscroll
{

margin-top:850px;
box-shadow: 0px -7px 9px rgba(0,0,0,0.1);
}
wurde durch automatisches script ersetzt
 */

.abschnitt_6
{
background-color: #fefefe;
padding-bottom: 50px;
margin-top: -4px;
overflow: hidden;
height: unset;
display: flex;
align-items:center;
padding-top: 50px;

}


.abschnitt_7
{
background-color: #fefefe;
padding-bottom: 100px;
margin-top: -4px;
overflow: hidden;
height: unset;
display: flex;
align-items:center;
padding-top: 50px;

}


.abschnitt_8
{
background-color: #f0f0f0;
padding-bottom: 100px;
margin-top: -4px;
overflow: hidden;
padding-top: 100px;

}


.abschnitt_9
{
background-color: #fefefe;
padding-bottom: 100px;
margin-top: -4px;
overflow: hidden;
padding-top: 100px;
display: flex;
align-items:center;

}

.abschnitt_10
{
background-color: #f0f0f0;
padding-bottom: 100px;

overflow: hidden;
padding-top: 100px;
height: 200px;
}


.mailbox
{

width: 600px;
height: 700px;
background-color: #fefefe;
padding: 30px;
border: 2px solid #f0f0f0;
padding-top: 60px;
transition: 0.2s;
}

.mailsended
{

display: flex;
justify-content: center;
align-items: center;
color: #a5a5a5;
font-size: 24px;
font-family: font2-regular;
text-align: center;

}
.sendedmessage
{


display: none;
}

.inputlong
{
font-size: 16px;
outline: none;
height: 50px;
padding-left: 5px;
color: #432919;
font-family: font2-bold;
border: 0px solid;
background-color: #fefefe; 
border-bottom: 2px solid #f0f0f0;
width: 500px;
}
.inputname
{

font-size: 16px;
outline: none;
height: 50px;
padding-left: 5px;
color: #432919;
font-family: font2-bold;
border: 0px solid;
background-color: #fefefe; 
border-bottom: 2px solid #f0f0f0;
width: 230px;

margin: 20px 14px;
}


.nachrichtenbox
{
    width: 500px;
    height: 300px;
    outline: none;
    resize: none;
    color: #432919;
    margin: 30px 0px;
font-size: 16px;
background-color: #fefefe; 
border: 0px solid;
border-bottom: 2px solid #f0f0f0;
margin-bottom: 70px;
font-family: font2-bold;
}


#shopabs
{
transition: 0.5s;

}



.sm_icon_row
{
display:flex;

}




/* responsive 1600 ---------------------------------------- */


@media only screen and (max-width: 1599px)
{


.ueberuns_box
{
/* width: unset; */
width: -webkit-fill-available;

}



.buttonholder_horizontal
{
margin-top: 0px;
    width: 100%;

}



.feldoutofview_left
{
opacity: unset;
transform: unset;

}


.feldoutofview_right
{
opacity: unset;
transform: unset;

}


.outofview_bottom
{
opacity: unset;
transform: unset;

}


.feldoutofview_bottom
{
opacity: unset;
transform: unset;

}




.content_1600
{

padding-left:30px;
padding-right: 30px;
width: unset;

}


.abs_vismis
{
max-width: 45%;


}


#vismis_02
{
padding-left: unset;

}


#vismis_03
{
padding-right: unset;

}

.nachrichtenbox
{
width: 90%;


}


.inputlong
{
width: 90%;


}

.inputname
{
width: 42%;


}


.mailbox
{
width: 100%;
height: 100%;
padding: unset;
padding: 10% 0%;

}

.kreisbutton
{


}




.gitu_bild
{
width: 100%;
height: unset;
transform: scale(1.3);
margin-top: unset;
}


.abs_rechts_content
{


max-width: unset;
width: -webkit-fill-available;
float: left;
margin: 0px 50px;
display: flex;
justify-content: center;
align-items: center;

}











.menupunkte_small
{
font-size: 13px;
}

}


/* 1600 end ------------------------ */


/* mobile/tablet < 1200px --------- */

@media only screen and (max-width: 1200px)
{


.sm_icon_row
{
order: 1;
display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-evenly;

}

#smallinkholdermobile{

    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
margin-top:50px;
}


.smalllinkholder
{
order: 2;
margin-top:100px;

}

.text_content_rechts
{
padding-left: unset;
}


.ueberuns_box
{
padding-right: unset;

}


.ueberuns_box
{
width: unset;

}

.menuleiste_content
{
padding: 0px 30px;
}

.menuleiste
{
height: 80px;
}

.gitu_bild
{
width: 42vw;
transform: unset;
margin-left: -20%;
margin-top: -20%;
}

.bild_gitu_trigger_mobile
{
transform: unset;

}




.feldoutofview_left
{
opacity: unset;
transform: unset;

}


.feldoutofview_right
{
opacity: unset;
transform: unset;

}

.feldoutofview_bottom
{
opacity: unset;
transform: unset;

}

.svg_logo
{
display: none;

}

.burgermenu_field:hover .burgermenu_line
{
background-color: #fefefe;
}

.burgermenu_field:hover #bml_0:before
{
background-color: #fefefe;

}

.burgermenu_field:hover #bml_0:after
{
background-color: #fefefe;

}


.bml_color_open:before
{
background-color: #ac824f !IMPORTANT;
}

.bml_color_open:after
{
background-color: #ac824f !IMPORTANT;
}

.bml_color_open
{
background-color: #ac824f !IMPORTANT;
}

.bml_color_scroll
{
background-color: #ac824f !IMPORTANT;
}

.bml_color_scroll:before
{
background-color: #ac824f !IMPORTANT;
}


.bml_color_scroll:after
{
background-color: #ac824f !IMPORTANT;
}



.kreisbutton
{
margin-top: unset;
margin: 100px 0px;
bottom: 0px;
transform: matrix(2, 0, 0, 2, 0, 0);
}


.kreisbutton:active .dwa_2_box
{
height: 25px;
    bottom: -19px;
}

.kreisbutton:active .kreis
{
    margin-top: 14px;
}

.tagger
{
margin: unset;
margin-top: unset;
}


.ueberschrift
{
padding: 20px 30px;

}

.menuboxleft
{
    bottom: 0px;
    position: absolute;
width: 100%;
height: unset;
float: unset;
padding-top: unset;
}

.menuboxright
{
top: 0px;
    position: absolute;
    padding-left: 20%;
    padding-top: 20%;
display: inline-block;
height: unset;
width: 100%;
margin-top: unset;
border-left: 0px solid;
text-align: left;

}

.iconrow_mobile
{
    width: 100%;
    display: flex;
    order: 1;
    position: absolute;
    height: unset;
    justify-content: space-evenly;
}

.buttonholder_horizontal
{
margin-top: 0px;
    width: 100%;

height: unset;
    display: grid;
    justify-content: unset;
    align-items: unset;
margin-top:unset;
padding-bottom: 20px;

}


.menupunkte_small
{

font-size: 13px;
}


.menupunkte
{
font-size: 6vw;
margin-left: unset;
padding-bottom: unset;
height: unset;
}


.socialmedia_iconholder
{
width: 40px;
height: 40px;

}


.abschnitt_1
{
height: unset;
}

.abs_feld_links
{
width: 100%;


}


.abs_feld_rechts
{
width: 100%;


}

#feldlinks1
{
padding: 80px 0px;

}
.abs_links_content
{

margin: 0px 50px;
}


.text
{
font-size: 18px;

}

.ueberschrift_main
{
font-size: 32px;

}

.ueberschrift_main_hell
{
font-size: 32px;
}

.ueberuns_box
{
width: 100%;
padding-right: unset;

}

#uebb_02
{
display: none;
padding-top:30px;
}

#uebb_03
{
display: none;
margin-top: 10px;
}


#uebb_04
{
display: none;
margin-top: 30px;
}


#uebb_05
{
margin-top: 30px;
margin-bottom: 50px;
display: none;
}



.textmitte
{
text-align:center;
padding-top: 50px;
}


#vismistx01
{

text-align:justify;

}

#vismistx02
{

text-align:justify;

}

#vismis_03
{
margin-top: 30px;

}


.abs_vismis
{
margin-top: 50px;
width: 100%;
max-width: 100%;
text-align: unset;

}


.uebbox_container
{
overflow-x:hidden;


}

.abschnitt_2
{
padding: 60px 0px;
}


.abschnitt_3
{
padding-bottom: 50px;

}


.abschnitt_4
{
padding-top: 50px;
height: unset;
padding-bottom: 50px;
display:flex;
align-items: center;
}

#projektelinks
{
width: unset;
max-width: 60%;
}

#projekterechts
{
width: unset;
    max-width: 40%;
padding-top: 0px;

}




#tagpb
{
width: unset;
    max-width: 40%;
padding-top: 0px;

}


#tagp
{
width: unset;
max-width: 60%;
}



.displaynone_desktop
{
display: inherit;
}


.abschnitt_5
{
height: unset;
padding-bottom: 50px;
display:flex;
align-items:center;

}

.text_content_links
{
padding-right: 0px;
}


#worksb
{
width: unset;
    max-width: 40%;
padding-top: 0px;

}


#works
{
width: unset;
max-width: 60%;
}



.mailbox
{
margin-top: 50px;

}

.abschnitt_9
{
align-items: unset;
display: block;

}


#kontaktcontenttext
{
float: left;

}


.abschnitt_10
{
height: unset;
display: grid;
padding-bottom: 50px;

}

#socialbuttonfield
{

order: 2;

}

#socialtextcontent
{

order: 1;

}


#socialbuttoncontent
{
margin: 0px;
max-width: unset;
float: left;
width: 100%;
}


.buttonholder_horizontal
{
margin-top: 0px;
    width: 100%;
padding: 30px 0px;
display: grid;
justify-content: center;
align-items: center;
padding-bottom: 0px;
}


.socialmedia_iconholder
{
width: 50px;
height: 50px;
margin: 0px;

}


/* mobile small < 700px --------- */

@media only screen and (max-width: 700px)
{
.menuleiste_content
{
padding: 0px 15px;

}


.menuleiste
{
height: 55px;

}

.textmitte
{
padding-top: 50px;
}

#vismis_01
{
text-align: center;

}



#vismistx01
{

text-align:initial;

}

#vismistx02
{

text-align:initial;

}


.abs_rechts_content
{
margin: 0px 30px;

}

.abs_links_content
{
margin: 0px 30px;

}

.inputname
{
width: 90%;

}

.abschnitt_4
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}

#projektelinks {
    width: unset;
    max-width: 100%;
    padding: 0px 30px;
}

.abs_links_content {
    margin: 0px 0px;
    width: 100%;
    padding: 0px 0px;
    float: unset;
}


#projekterechts {
    width: unset;
    max-width: 100%;
    padding-top: 0px;
    padding: 0px 30px;
}

.abs_rechts_content {
    margin: 0px 0px;
}



.abschnitt_5
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}


#tagpb {
    width: unset;
    max-width: 100%;
    padding-top: 0px;
    padding: 0px 30px;
}

#tagp {
    width: unset;
    max-width: 100%;
    padding: 0px 30px;
padding-top:10px;
}


.abschnitt_6
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}


#works {
    width: unset;
    max-width: 100%;
    padding-top: 0px;
    padding: 30px 30px;
order: 2;
}

#worksb {
    width: unset;
    max-width: 100%;
    padding: 0px 30px;
order: 1;
}



.abschnitt_7
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}


#charib {
    width: unset;
    max-width: 100%;
    padding-top: 0px;
    padding: 0px 30px;
}

#chari {
    width: unset;
    max-width: 100%;
    padding: 20px 30px;


}


.abschnitt_8
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}

#abs8
{
    padding-top: 0px !IMPORTANT;
    padding-bottom: 50px !IMPORTANT; 
text-align:left !IMPORTANT;

}


.abschnitt_9
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}

#kontaktabs {
    width: unset;
    max-width: 100%;
    padding-top: 0px;
    padding: 0px 30px;
}

#kontaktform {
    width: unset;
    max-width: 100%;
    padding: 0px 30px;
margin-top:50px;

}

.nachrichtenbox
{
height: 150px;
margin-bottom: 40px;
}


.mailbox
{
height: unset;
margin-top:0px;
}



.abschnitt_10
{
padding-top: 50px;
    height: unset;
    padding-bottom: 50px;
    display: grid;
align-items: baseline;

}

#socialtextcontent
{
float: unset;
    padding: 0px 30px;
    height: unset;
    width: unset;

}

#ueberunscontent
{
padding: 0px 30px;

}


.header
{
background-attachment: scroll;
}





}


#mobilenobr
{
display: none;
}


/* -------------------------------- mobile horizontal --------------- */
@media only screen and (max-height: 399px)
{



@media only screen and (max-width: 345px)
{

.menupunkte
{
padding-top: 2vw;
}

.iconrow_mobile
{
display: none;

}

.menuboxright
{
padding-left: 10%;
    padding-top: 10%;

}
}


.kreisbutton
{
margin: 60px 0px;
transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}



.ueberschrift
{
font-size: 3vw;
max-width: 1100px;
text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

}

}





@media only screen and (max-width: 369px)
{

@media only screen and (max-height: 510px)
{

.menupunkte
{
padding-top: 8px;
font-size: 4vw;
}

.iconrow_mobile
{
display: none;

}

.menuboxright
{
padding-left: 10%;
    padding-top: 10%;

}
}

}


@media only screen and (min-width: 545px) and (max-width: 1000px)
{

.menupunkte
{
padding-top: 8px;
font-size: 4vw;
}
@media only screen and (max-height: 610px)

{
.iconrow_mobile
{
display: none;

}
}

.menuboxright
{
padding-left: 10%;
    padding-top: 10%;

}


}



@media only screen and (max-width: 850px)
{

@media only screen and (max-height: 460px)
{

.menupunkte
{
padding-top: 2px;
font-size: 4vw;
}

.iconrow_mobile
{
display: none;

}

.menuboxright
{
padding-left: 10%;
    padding-top: 10%;

}


}


@media only screen and (max-height: 360px)
{
.menupunkte
{
    padding: 1vw;
font-size: 3vw;
}

.iconrow_mobile
{
display: none;

}

.menuboxright
{
padding-left: 4%;
    padding-top: 24%;
display:flex;

}


}


}


/* designed and created by S.P. aka THE Empty Soul :P */
