/* style PRINT */

/* designed and created by Empty Soul */


.menubg
{
display: none;

}

.burgermenu_field
{
display: none;

}

.kreisbutton
{
display: none;

}

.kreis
{
display: none;

}

.gitu_bild
{
width: 350px;
    height: 470px;
    margin-top: 0px;
    margin-left: 0px;
    transition: 0s;


}
.menuleiste
{
box-shadow: unset;
background-color: transparent;
}


.default_button
{
display: none;

}

.arrows_container
{
display: none;
}

.text
{
text-align: left !IMPORTANT;

}

.ueberschrift_main
{
margin-top: 100px;

}

.ueberuns_box
{
height: 100px;
margin-top: 50px;

}

.abschnitt_1
{
margin: 0px;
padding: 0px;
}

.abschnitt_2
{
margin: 0px;
padding: 0px;
}

.abschnitt_3
{
margin: 0px;
padding: 0px;
}

.abschnitt_4
{
margin: 0px;
}

.abschnitt_5
{
margin: 0px;
padding: 0px;
}

.abschnitt_6
{
margin: 0px;
padding: 0px;
}

.abschnitt_7
{
margin: 0px;
padding: 0px;
}

.abschnitt_8
{
margin: 0px;
padding: 0px;
}

.abschnitt_9
{
margin: 0px;
padding: 0px;
}

.abschnitt_10
{
margin: 0px;
padding: 0px;
}

.smalllinkholder
{
display: none;
}

.sm_icon_row
{
display: none;
}