




button::-moz-focus-inner {
  border: 0;
}



@media only screen and (max-width: 1200px)
{


#smallinkholdermobile {
    order: 2;
    margin-top: 160px !IMPORTANT;
}


.smalllinkholder {
    order: 2;
    margin-top: 150px;
}


}



